<div class="registrarse">
  <h1>Editar Profile</h1>
  <!--ID<input type="text" [(ngModel)]="data_id" name="u" placeholder="id" required="required" /><br-->
  UserPicture<input type="text" [(ngModel)]="data_url_foto_usr" name="u" placeholder="Ej.: https://justalink.png"/><br>
  Correo<input type="text" [(ngModel)]="data_correo" name="u" placeholder="correo" required="required" /><br>
  Password<input type="text" [(ngModel)]="data_password" name="u" placeholder="password" required="required" /><br>
  Nombre de Usuario<input type="text" [(ngModel)]="data_nombre_usr" name="u" placeholder="nombre_usr" required="required" /><br>
  <input type="button" value="Aceptar Cambios" class="btn btn-primary btn-block" (click)="update($event)" />
  <input type="button" value="Añadir Tarjeta" class="btn btn-primary btn-block" routerLink="/agregar_tarjeta" />

</div>
