<body class="reg">

<div class="iniciar_sesion">
  <h1>Iniciar Sesion</h1>
  <div class="imglines">
    <img src="http://i1278.photobucket.com/albums/y518/TaurineSGH/FlameTuneLibrary/background4_zps34rmos67.gif">
    <p>Espanglish is el new hit del year!!! :v<br>That's why si tu can entender this<br>you puedes sign in tambien!</p>
  </div>
  Nombre de Usuario<input type="text" [(ngModel)]="data_nombre_usr" name="u" placeholder="nombre_usr" required="required" /><br>
  Password<input type="text" [(ngModel)]="data_password" name="u" placeholder="password" required="required" /><br>
  <input type="button" value="Iniciar Sesion" class="btn btn-primary btn-block" (click)="iniciar($event, this.data_nombre_usr,this.data_password)" />

</div>
</body>
