<link href="https://fonts.googleapis.com/css?family=Audiowide|Luckiest+Guy" rel="stylesheet">
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script-->


<div class="topnav">
  <div class="topnava1 backcol2">
    <div class=" backcol2" *ngIf="!getLogged(); else notLogged">
      <a class="colorwhite" routerLink="/welcome">FlameTuneLibrary</a>
    </div>
    <ng-template #notLogged>
        <a>FlameTuneLibrary</a>
    </ng-template>
  </div>

  <div *ngIf="getLogged()">
    <a class="topnava2" routerLink="/welcome" (click)="clear()" onclick="alert('Bye Bye!!!')">Cerrar Sesion</a>
  </div>
  <div *ngIf="!getLogged()">
    <a class="topnava2" routerLink="/registrarse">Registrarse</a>
  </div>
  <div *ngIf="!getLogged()">
    <a class="topnava2" routerLink="/iniciar_sesion">Iniciar Sesion</a>
  </div>
  <div *ngIf="getLogged()">
    <a class="topnava2" routerLink="/mostrar_usuario">Mi Perfil</a>
  </div>
  <div *ngIf="getLogged()">
    <a class="topnava2" routerLink="/playlists">Playlists</a>
  </div>
  <div *ngIf="getLogged()">
    <a class="topnava2" routerLink="/visualizacion_resultados">Busqueda</a>
  </div>
  <a class="topnava2" routerLink="/membresias">Membresías</a>
</div>

<router-outlet></router-outlet>
