<link href="https://fonts.googleapis.com/css?family=Audiowide|Luckiest+Guy" rel="stylesheet">

<div class="topnav">
  <div class="title topnava1">FlameTuneLibrary</div>
  <a class="topnava1" routerLink="/welcome">Welcome</a>
  <a class="topnava2" routerLink="/registrarse">Registrarse</a>
  <a class="topnava2" routerLink="/iniciar_sesion">Iniciar Sesion</a>
  <a class="topnava2" routerLink="/editar_usuario">Editar Profile</a>
  <a class="topnava2" routerLink="/mostrar_usuario">MyProfile</a>
  <a class="topnava2" routerLink="/playlists">Playlists</a>
  <a class="topnava2" routerLink="/welcome">Cerrar Sesion</a>
  <a class="topnava2" routerLink="/mostrar_cancion">Mostrar Cancion</a>
  <a class="topnava2" routerLink="/visualizacion_resultados">Busqueda</a>

  
</div>

<router-outlet></router-outlet>
