<h1>Thanks for your purchase!!!</h1><br>
<h5>Please indicate the number of memberships you wish to adquire,<br>read carefully and press the button to make the deal!</h5>

ID<br>
<input type="text" [(ngModel)]="data_id" name="u" placeholder="id" required="required" /><br>
Cantidad Membresias<br>
<input type="number" step="1"[(ngModel)]="data_cantidad_membresias" name="u" placeholder="Ej.:1" required="required" />
<input type="button" value="Comprar Membresia" class="btn btn-primary btn-block" (click)="update($event)" />
