<body class="comp">

<div class="centerme">
  <br><br>
<h1 class="wel" >Thanks for your purchase!!!</h1><br>
<h5>Please indicate the number of memberships you wish to adquire,<br>read carefully and press the button to make the deal!</h5>
<br><br>
Cantidad Membresias<br>
<input type="number" step="1"[(ngModel)]="data_cantidad_membresias" name="u" placeholder="Ej.:1" required="required" /><br>
<input type="button" value="Comprar Membresia" class="button" (click)="update($event)" />
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>

</body>
