<body class="tarj">
<h1 class="else">Añadir nueva Tarjeta</h1>
  Numero Tarjeta<br>
  <input type="text" [(ngModel)]="data_nro_tarjeta" name="u"  required="required" /><br>
  CVC Tarjeta<br>
  <input type="text" [(ngModel)]="data_cvc_tarjeta" name="u"  required="required" /><br>
  Fecha Vencimiento Tarjeta<br>
  <input type="text" [(ngModel)]="data_fecha_vencimiento_tarjeta" name="u"  required="required" /><br>
  Tipo Tarjeta<br>
  <input type="text" [(ngModel)]="data_tipo_tarjeta" name="u"  required="required" /><br>
  Pais Tarjeta<br>
  <input type="text" [(ngModel)]="data_pais_tarjeta" name="u"  required="required" /><br>
  Nombre UsuarioTarjeta<br>
  <input type="text" [(ngModel)]="data_nombre_usuario_tarjeta" name="u"  required="required" /><br>
  <button type="button" value="Crear Tarjeta" class="btn btn-primary btn-block" onclick="alert('New card saved!!!')"(click)="save($event)"> </button>
</body>
