<body class="memb">
<div class="centerme">
  <h1 class="wel"><br>Memberships</h1>

  <div class="box1">
    <h4>Free!</h4>
    <ul>
      <li>- Coffee</li>
      <li>- Tea</li>
      <li>- Milk</li>
    </ul>
  </div>
  <div class="box2">
    <h4>Premium!!!</h4>
    <ul>
      <li>- Coffee</li>
      <li>- Tea</li>
      <li>- Milk</li>
    </ul>
  </div>
  <br>
  <button class="button buttonwel"><a class="colorwhite" routerLink="/comprar_membresias">Compra</a></button>
  <button class="button buttonwel"><a class="colorwhite" routerLink="/registrarse">Nueva Tarjeta</a></button>
  <h4 class="wel">Wanna be part of the party?<br><br><br><br><br></h4>
</div>
</body>
