<body class="memb">
<div class="centerme">
  <h1 class="wel"><br>Memberships</h1>

  <div class="box1">
    <h4>Free!</h4>
    <ul>
      <li>- Access to Song Library</li>
      <li>- Cool!</li>
      <li>- 0.00 $</li>
    </ul>
  </div>
  <div class="box2">
    <h4>Premium!!!</h4>
    <ul>
      <li>- Total Access</li>
      <li>- 50% cooler!!!</li>
      <li>- 4.99 $</li>
    </ul>
  </div>
  <br>
  <button class="button buttonwel"><a class="colorwhite" routerLink="/comprar_membresias">Compra</a></button>
  <button class="button buttonwel"><a class="colorwhite" routerLink="/agregar_tarjeta">Nueva Tarjeta</a></button>
  <h4 class="wel">Wanna be part of the party?<br>
    Join us!!<br><br><br><br></h4>
</div>
</body>
