<body class="welc">
  <div class="centerme">
    <h1 class="wel">Burn the World with<br>your favorite Jams!!!</h1><
      <img src="http://i1278.photobucket.com/albums/y518/TaurineSGH/FlameTuneLibrary/Logo_zpsx5ti8awt.png" class="centerme logo"><br>
      <button class="button buttonwel disabled colorwhite">Membresias</button>
      <button class="button buttonwel"><a class="colorwhite" routerLink="/registrarse">Registrarse</a></button>
    <h4 class="wel" >Just by joining you can be 20% cooler!<br><br><br><br></h4>
  </div>
</body>

