<div class="create-playlist">


  <h1>
    Playlists
  </h1>
  <h2>Crear</h2>

  Nombre de lista<input type="text" [(ngModel)]="data_nombre_playlist" name="u" placeholder="Ej.: An awesome playlist" required="required" /><br>
  Tipo de Acceso<input type="text" [(ngModel)]="data_tipo_acceso_playlist" name="u" placeholder="Ej.: 'true' or 'false' " required="required" /><br>
  <input type="button" value="Crear" class="btn btn-primary btn-block" (click)="save($event)" />

  <br><br><br><br><br><br><br><br><br>
</div>
